:local(.node) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ccc;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  margin: -30px -30px;
  box-sizing: border-box;
  &.root{
    border: 1px solid orange;
  }
}
