.topology {
  .topo-bar {
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.175);
    position: relative;
    z-index: 1;

    button {
      height: 30px;
      margin: 0 5px;
      border-radius: 3px;
      color: #666;

      &.active {
        border-style: inset;
      }

      &:focus {
        outline: none;
      }
    }

    img,
    span {
      display: inline-block;
      border-radius: 3px;
      border: 1px dashed hsl(0, 0%, 80%);
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      line-height: 40px;
      text-align: center;
      color: #666;
      margin: 0 5px;
      box-sizing: border-box;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        background: #ccc;
        color: white;
        border: 1px dashed #fff;
      }

      &.active {
        background: rgb(168, 236, 245);
        color: white;
        border: 1px dashed #fff;
      }
    }

    .node{
      font-size: 12px;
    }


    img {
      padding: 8px;
    }
  }

  .topo-chart {
    height: calc(100vh - 50px);
    position: relative;
    overflow: hidden;
    user-select: none;
    // width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    // border-left: 1px solid #ccc;
    // border-right: 1px solid #ccc;
  }
}