:local(.node) {
  width: 150px;
  height: 100px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  display: block;
  border: 1px solid #999;
  box-sizing: border-box;
  background: white;

  .title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-bottom: 1px solid #999;
  }

  .quota {
    font-size: 0;

    span {
      display: inline-block;
      width: 33.3%;
      line-height: 30px;
      height: 30px;
      font-size: 12px;
      text-align: center;
    }
  }
}